/* -----------------  DEBUG -------------  */
div, main, aside, li{
  border: solid 1px red;
  /* background-color: pink; */
}

 /* -----------------  DEBUG -------------  */


/* -----------------  OVERALL  -------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}

body{
  /* display: flex;
  justify-content: center; */
  width: 100vw;
  height: 100vh;
  color: white;
}

section{
  width: 100%;
  min-height: 500px;
}

header{
  display: flex;
  justify-content: center;
  background-color:#21333e;
}

h2{
  font-size: 2rem;

}
input{
  outline-style: none;
}


/* -----------------  LAYOUT MAIN RULES  -------------  */
.container{
  width: 80%;
}

.flex{
  display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */

}







/* -----------------  FIXED TOP NAVBAR  -------------  */

.fast_contacts{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #bcbdbd;
}

.contacts i {
  margin-left: 20px;
}

.contacts a{
  margin: 0 20px;
  color: #bcbdbd;
  text-decoration: none;

}

/* -----------------  JUMBOTRON SECTION -------------  */

/* -----------------  NAVBAR  -------------  */

.navbar_right ul li{
    list-style: none;
}
.navbar_left, .navbar_right{
  max-height: 80px;
}
.navbar_left img{
  max-height: 50%;
}

.navbar_right ul li a{
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

/* -----------------  JUMBOTRON IMAGE AND TEXT  -------------  */


#jumbotron{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  width: 100%;;
  height:700px;
  margin-top: 40px;
  padding-top: 10px;
  background-image: url("../img/bg-9.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#opening{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
}

#opening h3{
  font-size: 1rem;
  font-weight: normal;
  color: #52bbbb;
}

#opening h1{
  font-size: 4rem;
  font-weight: bolder;
  margin: 10px ;
}

#buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button_get_in_touch{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: #52bbbb;
}

#read_more{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: solid 1px #52bbbb;
}


/* ----------------- SECTION 1 LAYOUT -------------  */


#section_1{
  display: flex;
  justify-content: center;
}

#excellence, #vehicles{
  color: #21363b;
  min-height: 500px;

}
#excellence{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#vehicles{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

#excellence span i{
  font-size: 2rem;
  margin: 0 5px;
}

#excellence p{
  margin: 10px 0;
}
#excellence_list{
  margin-left: 15px;
}

.truck{
  background-color:#7fd2d5 ;
}

.vehicle_box{
  width: 70%;
}

.vehicle img{
  max-height: 60px;
}

.vehicle_desc h5{
  font-size: .9rem;
  font-weight: lighter;
}

.vehicle{
  display: flex;
}

.cert-logo img{
  max-width: 100px;
  height: auto;
}

/* ----------------- SECTION 2 LAYOUT -------------  */

#section_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121117;
}


.black_button{
  width: 100px;
  border: solid 1px #038384;
}

.desc p{
  width: 75%;
}

.boxes{
  min-height: 50%;
}

.service_box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 32%;
  height: 250px;
  padding: 15px;
  background-color: #191c1e;
  border-radius: 10px;
}

.icons .fa-truck-loading, .icons .fa-temperature-low, .icons .fa-boxes{
  font-size: 2.5rem;
  color:#038384;
}

.service_box h3{
  font-size: 1.5rem;
}

.round_icon{
  width: 60px;
  height: 60px;
  padding:5px;
  background-color:#16282e;
  border-radius: 50%;
}

.fa-arrow-right{
  font-size: 1.5rem;
  color:#038384;
}





/* ----------------- SECTION 3 LOGISTICS LAYOUT -------------  */

#section_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:500px;
  background-color: #eef4ed;
}
.steps{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 250px;
}
.empty{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:10%;
  height: 90%;
  background-color: green;
}
.step_box{
  /* margin:0 15px; //da levare dopo */
  width: 16%;
  height: 90%;
  background-color: red;
}
.top, .line{
  width: 100%;
}
.top{
  display: flex;
  align-items:center;

  height: 30px;
}

.line{
  height: 3px;
  background-color: black;
}








/* ----------------- SECTION 4  RESULTS LAYOUT -------------  */

#section_4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:500px;
  background-image: url("../img/bg-10.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

}
.result_boxes{
  width: 100%;
}
.result_box{
  width: 25%;
  height: 150px;
  border: solid 1px red;
}

.result_box h3{
 color: #52bbbb;
 font-size: 2rem;

}


.label{
  display: inline-block;
  padding: 5px;
  margin:0 5px;
  border-radius: 5px;
  font-size: 2rem;
  background-color: rgba(3,131,132,.2);
}




/* ----------------- SECTION 5 LAYOUT -------------  */


#section_5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191c1e;
}

/* .title_feedback{
  /* display: flex;
  justify-content: center;
}*/

#section5 .service_box .icons img{
  max-width: 50px;
  height: auto;
}

.quotation_marks{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #69696d;
}

#subtitle{
  width: 55%;
  text-align: center;
}






















/* ----------------- SECTION 6 GET IN TOUCH LAYOUT -------------  */




#section_6{
    /* background-color: #e6ece8; */

}

.get_touch_left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65%;
  min-height: 300px;
}
.get_touch_left h2{
  color: #21333e;
}
.green_text{
  color: #058283;
}
.get_touch_left h2 span,.get_touch_left h4 {

}





.row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact_form{
  width: 100%;
}
.send_button{
  width: 70px;
  height: 35px;
  background-color:#038384 ;
  border-radius: 5px;

}
.send_button h3{
font-weight: lighter;
}

.get_touch_right{
  width: 30%;
  min-height: 300px;
  color:#69696d;
}

.get_touch_right p, .get_touch_right div{
  margin:10px 0;
}

.get_touch_right a,.get_touch_right i{
  color: #038384 ;
  text-decoration: none;
}
.get_touch_right h2{
  color: #21333e;

}

.view_map{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40px;
  color: #038384 ;
  border: solid 1px #038384 ;
  border-radius: 5px;

}

 #section_6 form input[type=text]{
   width: 48%;
   height: 30px;
   border: none;
   margin: 5px 0;
   padding:5px;
   border-radius: 5px;
   color:#21333e;
   background-color: #ececec;
}

#section_6 textarea{
  width: 100%;
  height: 100px;
  resize: none;
  border: none;
  padding:5px;
  margin: 5px 0;
  color:#21333e;
  background-color: #ececec;
}












/* ----------------- FOOTER LAYOUT -------------  */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #121117;
}

footer ul li a{
  text-decoration: none;
  list-style: none;
  color: white;
}
footer ul li {

  list-style: none;

}

.nex, .gen{
  width: 75px;
  height: 40px;
  padding: 5px;
}
.nex{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #038384;
  color: #52bbbb;
  opacity: .5;
  border-radius: 20px 0 0 20px;
}
.nex h1{
  color: #52bbbb;
  z-index: 999;
  font-size: 1.4rem;
}

.gen h1{
  color: #bcbdbd;
  font-size: 1.4rem;
}



.gen{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer_box{

  width: 25%;
  padding: 20px;
  border-radius: 10px;
  background-color: #19191f;

}
.title_footer{
  margin:10px 0;
  font-weight: bold;
  font-size: 1.25rem;

  color: white;

}
#foot_links{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot_links div{
  margin: 0 20px;
}
#foot_links i{
  font-weight: lighter;
  color: #bcbdbd;
  margin: 0 10px;
}
#foot_links h1{
  font-size: 1.25rem;
  margin: 10px 10px;
}

#foot_links ul li{
  color: #bcbdbd;
  margin:5px 0;
}

#foot_links ul li a{
  color: #bcbdbd;
  font-size: .8rem;
}


#footer_contacts{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  min-height: 80%;

}
