/* -----------------  DEBUG -------------  */
div, main, aside, li{
  border: solid 1px red;
  /* background-color: pink; */
}

 /* -----------------  DEBUG -------------  */


/* -----------------  OVERALL  -------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}

body{
  /* display: flex;
  justify-content: center; */
  width: 100vw;
  height: 100vh;
  color: white;
}

section{
  width: 100%;
  min-height: 500px;
}

header{
  display: flex;
  justify-content: center;
  background-color:#21333e;
}

h2{
  font-size: 2rem;

}


/* -----------------  LAYOUT MAIN RULES  -------------  */
.container{
  width: 80%;
}

.flex{
  display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */

}



/* -----------------  FIXED TOP NAVBAR  -------------  */

.fast_contacts{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #bcbdbd;
}

.contacts i {
  margin-left: 20px;
}

.contacts a{
  margin: 0 20px;
  color: #bcbdbd;
  text-decoration: none;

}

/* -----------------  JUMBOTRON SECTION -------------  */

/* -----------------  NAVBAR  -------------  */

.navbar_right ul li{
    list-style: none;
}
.navbar_left, .navbar_right{
  max-height: 80px;
}
.navbar_left img{
  max-height: 50%;
}

.navbar_right ul li a{
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

/* -----------------  JUMBOTRON IMAGE AND TEXT  -------------  */


#jumbotron{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  width: 100%;;
  height:700px;
  margin-top: 40px;
  padding-top: 10px;
  background-image: url("../img/bg-9.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#opening{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
}

#opening h3{
  font-size: 1rem;
  font-weight: normal;
  color: #52bbbb;
}

#opening h1{
  font-size: 4rem;
  font-weight: bolder;
  margin: 10px ;
}

#buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button_get_in_touch{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: #52bbbb;
}

#read_more{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: solid 1px #52bbbb;
}


/* ----------------- SECTION 1 LAYOUT -------------  */


#section_1{
  display: flex;
  justify-content: center;
}

#excellence, #vehicles{
  color: #21363b;
  min-height: 500px;

}
#excellence{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#vehicles{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
}



.truck{
  background-color:#7fd2d5 ;
}

.vehicle_box{
  width: 70%;
}

.vehicle img{
  max-height: 60px;
}

.vehicle_desc h5{
  font-size: .9rem;
  font-weight: lighter;
}

.vehicle{
  display: flex;
}

.cert-logo img{
  max-width: 100px;
  height: auto;
}

/* ----------------- SECTION 2 LAYOUT -------------  */

#section_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121117;
}

.title_services{
  display: flex;
  justify-content: flex-start;
}

.green_label{
  background-color: #038384;
  opacity:.2;
}

/* .green_label h2{
z-index: 100;
} */

.black_button{
  width: 100px;
  border: solid 1px #038384;
}

.desc p{
  width: 75%;
}

.boxes{
  min-height: 50%;
}

.service_box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 32%;
  height: 250px;
  padding: 15px;
  background-color: #191c1e;
  border-radius: 10px;
}

.icons .fa-truck-loading, .icons .fa-temperature-low, .icons .fa-boxes{
  font-size: 2.5rem;
  color:#038384;
}

.service_box h3{
  font-size: 1.5rem;
}

.round_icon{
  width: 60px;
  height: 60px;
  padding:5px;
  background-color:#16282e;
  border-radius: 50%;
}

.fa-arrow-right{
  font-size: 1.5rem;
  color:#038384;
}





/* ----------------- SECTION 3 LAYOUT -------------  */

#section_3{
  background-color: #e6ece8;

}






/* ----------------- SECTION 4 LAYOUT -------------  */

#section_4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:500px;
  background-image: url("../img/bg-10.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

}
.result_boxes{
  width: 100%;
}
.result_box{
  width: 25%;
  height: 150px;
  border: solid 1px red;
}

.result_box h3{
 color: #52bbbb;
 font-size: 2rem;

}


/* ----------------- SECTION 5 LAYOUT -------------  */


#section_5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191c1e;
}

.title_feedback{
  display: flex;
  justify-content: center;
}

#section5 .service_box .icons img{
  max-width: 50px;
  height: auto;
}

.quotation_marks{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #69696d;
}

#subtitle{
  width: 55%;
  text-align: center;
}


























#section_6{
    background-color: #e6ece8;

}


/* ----------------- FOOTER LAYOUT -------------  */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #121117;
}

footer ul li a{
  text-decoration: none;
  list-style: none;
  color: white;
}
footer ul li {

  list-style: none;

}



.footer_box{
  width: 25%;

background-color: #191c1e;

}

#foot_links{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#foot_links i{
  font-weight: lighter;
  color: #bcbdbd;
  margin: 0 10px;
}
#foot_links h1{
  font-size: 1.25rem;
  margin: 10px 10px;
}

#foot_links ul li{
  color: #bcbdbd;
  margin:5px 0;
}

#foot_links ul li a{
  color: #bcbdbd;
  font-size: .8rem;
}


#footer_contacts{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  min-height: 80%;

}
