<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script> -->
    <title>Cargo Transport</title>
  </head>
  <body>

    <!-- TOP CONTACTS BAR -->

    <!--  MAIN TO CENTER EVERYTHING -->
    <main>
      <!-- HEADER WITH IMAGE AND NAVBAR -->

      <header>
        <!-- TOP FIXED NAVBAR -->
        <div class="fast_contacts container">

            <div id="open_hours">
              <i class="fas fa-clock"></i><span>Open Hours: Mon- Sat - 9:00 - 18:00</span>
            </div>
            <div class="contacts">
              <i class="fas fa-phone-alt"></i><a href="#">+1 (305) 1234-5678</a>
              <i class="fas fa-envelope"></i><a href="#">hello@example.com</a>
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>


        </div>


        <!-- JUMBOTRON -->
        <div id="jumbotron" >
          <div class="container flex-column">

            <div id="nav_links">
              <div class="flex-space-between">
                <div class="navbar_left">
                  <!-- LOGO CREATION-->

                  <div class="logo">
                      <h2><span id="nex" class="logo_label green_text">NEX</span>GEN</h2>
                  </div>

                </div>

                <div class="navbar_right ">
                  <ul class="flex-center">
                    <li v-for="element in links"> <a href="">{{element}}</a> </li>
                    <li> <a href=""><i class="far fa-user"></i></a></li>
                    <li>
                      <div class="button_get_in_touch">
                        <h3>GET IN TOUCH</h3>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <div id="opening">

              <h3 class="green">LOGISTICS SERVICES</h3>
              <h1>CARGO</h1>
              <h1>TRANSPORT</h1>
              <p class="grey">Fractional or exclusive road cargo transportation to all <br> regions, with small, medium and large vehicles. </p>

              <div id="buttons">
                <div class="button_get_in_touch">
                  <h3>GET IN TOUCH</h3>
                </div>
                <div id="read_more">
                  <h3>READ MORE</h3>
                </div>
              </div>

            </div>
          </div>

        </div>

      </header>

      <!-- SECTION_1 CERTIFICATIONS-->

      <!-- SECTION_1 LEFT SIDE DESCRIPTION -->

      <section id="section_1" >
        <div class="container flex-space-between ">

          <div id="excellence">
            <h4 class="green">WHO WE ARE</h4>
            <h2><span class="label green_text"><i class="far fa-gem"></i>Excellence</span>in Transport</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <p id="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <ul id="excellence_list">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Lorem ipsum dolor sit amet</li>
                </ul>

          </div>

          <!-- SECTION_1  RIGHT SIDE VEHICLES AND CERTIFICATIONS-->

          <div id="vehicles">

              <h3 class="vehicle_title">Vehicle types</h3>


            <div class="vehicle_box">

              <div class="vehicle flex-space-between bottom_border">
                <div class="truck">
                  <img src="img/truck-1.png" alt="truck">
                </div>

                <div class="vehicle_desc">
                  <h3>Light</h3>
                  <h5>Max Weight 1200 Kg</h5>
                </div>
              </div>
            </div>
            <!-- <hr class="separator"> -->

            <div class="vehicle_box">

              <div class="vehicle flex-space-between bottom_border">
                <div class="truck">
                  <img src="img/truck-1.png" alt="truck">
                </div>

                <div class="vehicle_desc">
                  <h3>Light</h3>
                  <h5>Max Weight 6000 Kg</h5>
                </div>
              </div>
            </div>
            <!-- <hr class="separator"> -->
            <div class="vehicle_box">

              <div class="vehicle flex-space-between ">
                <div class="truck">
                  <img src="img/truck-1.png" alt="truck">
                </div>

                <div class="vehicle_desc">
                  <h3>Light</h3>
                  <h5>Max Weight 24000 Kg</h5>
                </div>
              </div>
            </div>
            <h3 class="vehicle_title">Certification</h3>
            <div class="vehicle_box">

                <div class="cert-logo flex-space-between">
                  <img src="img/certificate.png" alt="certificate">
                  <img src="img/certificate.png" alt="certificate">
                </div>
            </div>
          </div>
        </div>
      </section>

      <!-- SECTION_2 SERVICES-->

      <section id="section_2">
        <div class="container">

          <h4 class="green">ROAD TRANSPORT</h4>

            <h2>Main <span class="label">Services</span> </h2>



          <div class=" desc flex-space-between">
            <p class="grey">With all of this expertise and capability comes an inrivalled commitment to customers service. We will work hard to understand your needs in order to develop a productive, long-term partnership. </p>
            <div class="black_button flex-center">
              <h3>SEE ALL</h3>
            </div>
          </div>


          <!-- SECTION_2 BOXES-->

          <div class="boxes flex-space-between">

            <div class="service_box">
              <div class="icons flex-space-between">
                <div class="round_icon flex-center">
                  <i class="fas fa-truck-loading"></i>
                </div>
                  <i class="fas fa-arrow-right"></i>
              </div>
              <h3 class="service_title">Technology</h3>
              <p class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
            </div>

            <div class="service_box">
              <div class="icons flex-space-between">
                <div class="round_icon flex-center">
                  <i class="fas fa-temperature-low"></i>
                </div>
                  <i class="fas fa-arrow-right"></i>
              </div>
              <h3 class="service_title">Reefer cargo</h3>
              <p class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
            </div>

            <div class="service_box">
              <div class="icons flex-space-between">
                <div class="round_icon flex-center">
                  <i class="fas fa-boxes"></i>
                </div>
                  <i class="fas fa-arrow-right"></i>
              </div>
              <h3 class="service_title">Dry Cargo</h3>
              <p class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </section>


      <!-- SECTION_3 LOGISTICS-->

      <section id="section_3">
        <div class="container flex-column">
          <h4 class="green_text">HOW IT WORKS IN PRACTICE</h4>


              <h2><span class="label green_text">Logistical</span>Procedure</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>



          <div class="steps">
            <div class="empty">
              <div class="top">
                <div class="line">
                  <h3 class="number">01</h3>

                </div>

              </div>

            </div>
            <div class="step_box">

            </div>
            <div class="step_box">

            </div>
            <div class="step_box">

            </div>
            <div class="step_box">

            </div>
            <div class="step_box">

            </div>
            <div class="empty">

            </div>




          </div>








        </div>

      </section>


      <!-- SECTION_4 RESULTS-->

      <section id="section_4">

        <div class="container flex-column">
          <h4 class="green">WHAT ARE WE DOING</h4>
          <div class="title_services">

              <h2> <span class="label">Results</span> in Numbers</h2>

          </div>
          <div class="result_boxes flex-space-between">
            <div class="result_box flex-column">
              <h3>128</h3>
              <h5>Certifications</h5>
            </div>
            <div class="result_box flex-column">
              <h3>230</h3>
              <h5>Employees</h5>
            </div>
            <div class="result_box flex-column">
              <h3>517</h3>
              <h5>Customers</h5>
            </div>
            <div class="result_box flex-column">
              <h3>94</h3>
              <h5>Countries Served</h5>
            </div>
          </div>
        </div>
      </section>

      <!-- SECTION_5 FEEDBACK-->

      <section id="section_5">
        <div class="container center_col">
          <h4 class="green">CUSTOMERS TESTIMONIALS</h4>

              <h2>Trusted<span class="label">Feedback</span></h2>


          <p id="subtitle" class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>


          <div class="boxes flex-space-between">

            <div class="feedback_box">
              <div class="icons flex-space-between">
                  <img src="img/logo-1.png" alt="woocommerce">
              </div>

              <p class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <div class="quotation_marks">
                  <i class="fas fa-quote-right"></i>
              </div>
            </div>

            <div class="feedback_box">
              <div class="icons flex-space-between">
                  <img src="img/logo-2.png" alt="wordpress">
              </div>

              <p class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <div class="quotation_marks">
                  <i class="fas fa-quote-right"></i>
              </div>
            </div>

            <div class="feedback_box">
              <div class="icons flex-space-between">
                  <img src="img/logo-3.png" alt="wordpress">
              </div>

              <p class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <div class="quotation_marks">
                  <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- SECTION_6 GET IN TOUCH-->

      <section id="section_6" class="flex-center">
        <div class="container flex-space-between">


          <div class="get_touch_left">
             <h4 class="green">SEND A MESSAGE</h4>
            <div class="title_services">
              <h2>Get in<span class="label green_text">Touch</span></h2>

            </div>
            <p class="black">We will respond to your message as soon as possible.</p>

            <form class="contact_form" action="index.html" method="post">
              <div class="row">
                <input type="text" name="" value="" placeholder="Name">
                <input type="text" name="" value="" placeholder="Email">
              </div>
              <div class="row">
                <input type="text" name="" value="" placeholder="Phone">
                <input type="text" name="" value="" placeholder="More Info">
              </div>

              <textarea name="name" rows="6" cols="50" placeholder="Message"></textarea>

              <div class="send_button flex-center">
                <h3>SEND</h3>
              </div>

            </form>
          </div>

          <div class="get_touch_right">

            <h2 class="black">Example Inc.</h2>
            <p class="black">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p class="black"> Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
            <div class="form_contact">
            <i class="fas fa-phone-alt"></i>
              <a href="phone_number">+1 (305) 1234-5678</a>
            </div>
            <div class="form_contact">
              <i class="fas fa-envelope"></i>
              <a href="#">hello@example.com</a>
            </div>
            <div class="form_contact">
              <i class="fas fa-map-marker-alt"></i>
              <a href="#">Main Avenue, 987</a>
            </div>

            <div class="view_map">
              <h3>VIEW MAP</h3>
            </div>

          </div>
      </div>









      </section>


      <!-- FOOTER-->

      <footer >
        <div class="container flex">
          <div id="foot_links">
            <div id="footer_contacts">
              <!-- LOGO CREATION-->
              <div class="logo_divs flex-center">
                  <h2><span class="logo_label green_text">NEX</span>GEN</h2>
              </div>
              <!-- CONTACTS-->
              <p class="grey">{{desc}}</p>
              <div class="">
                <ul>
                  <li v-for="(item, index) in footer_contacts">
                  <i :class="footer_contacts[index].icon"></i> {{footer_contacts[index].text}}</li>
                </ul>
              </div>
              <div class="button_footer">
                <h3>GET IN TOUCH</h3>
              </div>
            </div>

            <div class="footer_box">
                <ul>
                  <li class="title_footer">{{footer_links[0].title}} </li>
                  <li v-for="(item, index) in footer_links[0].links">
                  <i class="fas fa-chevron-right"></i>
                  <a v-bind:href="item.link">{{item.name}}</a></li>
                </ul>
            </div>
            <div class="footer_box">
                <ul>
                  <li class="title_footer">{{footer_links[1].title}} </li>
                  <li v-for="(item, index) in footer_links[1].links">
                  <i class="fas fa-chevron-right"></i><a v-bind:href="item.link">{{item.name}}</a></li>
                </ul>
            </div>
            <div class="footer_box">
                <ul>
                  <li class="title_footer">{{footer_links[2].title}} </li>
                  <li v-for="(item, index) in footer_links[2].links">
                  <i class="fas fa-chevron-right"></i>
                  <a v-bind:href="item.link">{{item.name}}</a></li>
                </ul>
            </div>

          </div>

        </div>

      </footer>

      <div id="fixed_footer">
        <div class="container">
          <div id="credits">
            <p class="grey">Enjoy the low price. We are tracking any intention of piracy</p>
            <p class="grey"><i class="far fa-copyright"></i>2020 NEXGEN is Proudly powered by <span class="green">Coding</span></p>
          </div>
      </div>

    </main>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
